* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'alba';
	src: url('../fonts/Alba.TTF');
}


body {
	background-image: url('../img/turntable.jpg');
	background-attachment: fixed;
}

.container-fluid {
	width: 95%;
	height: auto;
	margin: 0 auto;

}

.nav>li>a>img {
	width: 200px;
	height: 25px;
}

.form-control {
	height: 25px;
	border-radius: 0;
}

.btn {
	padding: 5px 15px;
	border-radius: 10px;
}

.navbar {
	border: 1px solid yellow;
}

.page-header {
	text-align: center;
}

.page-header > h1 {
	font-family: 'alba';
	text-align: center;
	color: yellow;
}

.page-header > p {
	color: white;
	font-size: 18px;
}


.col-md-12 > img {
	margin-top: 20px;
	float: left;
	position: relative;
	border-radius: 5%;
}

.page-body > form {
	margin-left: 30px;
	margin-top: 25px;
	color: white;
}

.footer {
	width: 100%;
	height: auto;
	background-color: #000;
	bottom: 0;
}


.footer > p {
	font-family: 'alba';
	color: #fff;
	text-align: center;
	font-size: 16px;
}

.footer > .col, .social {
	text-align: center;
	margin: 3px;
}

.social > a > img {
	width: 50px;
	height: 50px;
}

.col > a {
	font-weight: bold;
	font-size: 16px;
	color: white;
	letter-spacing: 2px;
	margin-bottom: 100px;	
}


span {
	font-family: 'alba';
	color: #fff;
}